body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: rgb(240, 240, 240);
}

.header-list {
  position: relative;
  top: -8px;

}

.header-list-item {
  list-style-type: none;
  float: left;
  margin-left: 40px;
  cursor: pointer;
}

.header-list-item-anchor {
  text-decoration: none;
  font-weight: 500;
  color: rgb(104, 103, 103);
}

.page-body {
  position: relative;
  top: 40px;
  width: 100%;
  height: 540px;
}

.page-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 35px;
  background-color: rgb(240, 240, 240);
}

.footer-text {
  position: relative;
  top: 6px;
  left: 10px;
  color: rgb(153, 151, 151);
  z-index: 1;
}

